.product {
  margin-bottom: 200px;
  padding-top: 100px;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 20px;
  }
  &-header-left {
    font-size: 40px;
    font-weight: 700;
  }
  &-header-right {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  &-menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &-text {
    color: rgb(42, 202, 223);
    font-size: 30px;
  }
  &-pic {
    border: 10px solid #d7bdbd;
    border-radius: 10px;
  }
}
